* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

.nav:after {
    content: "";
    display: block;
    clear: both;
}

header{
    height: 200px;
    background: lightblue;
}

section {
    background: #ffffff;
}

section .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 15px 0;
}

section .container .rows {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

/* Content part*/
.container .rows .content {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding: 0 15px;

}

.container .section-title {
    display: inline-block;
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.4;
}

.container .content .nav .sub-nav {
    display: inline-block;
    float : right;
    background-color: #f7f7f7;
}

.container .content .nav .sub-nav li {
    display: inline-block;
}

.container .content .nav .sub-nav li a {
    display: inline-block;
    text-decoration: none;
    color: #a3969b;
    padding: 10px 15px;
}

/* List news part*/

.content .list-news {
    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -32px;
}

.content .list-news .news-item {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    height: 444px;
    position: relative;
}

.content .list-news .news-item-img {

}

.content .list-news .news-item .what-img {

}

.content .list-news .news-item .what-cap {
    position: absolute;
    padding: 25px 20px 10px 0;
    background: #fff;
    bottom: 98px;
    width: 80%;
    border-radius: 0 7px 0 0;
}

.content .list-news .news-item .what-cap .color1 {
    color: #000;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 10px 15px
;
}

/* Advertise part*/
section .container .rows .advertise {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    padding: 0 15px;
}

.advertise .social-contact {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advertise .social-contact .social-box {
    border: 1px solid #f4f4f4;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
    margin-bottom: 5px;
    width: 49%;
}

.advertise .social-contact .social-box .follow-social{
    display: inline-block;
}

.advertise .social-contact .social-box .follow-count {
    display: inline-block;
    padding-left: 15px;
}

.advertise .news-poster {
    margin-top: 50px;
    padding: 0 64px;
}

.advertise .news-poster img {
    width: 248px;
}




